.Empresa {
    background: linear-gradient(to top, rgb(75, 129, 129), #f3f2f2);
    /* mismo color que la onda */
    
    padding: 0rem;
    border-radius: 10px;
}
.Empresa p, 
.Empresa .card-text {
    text-align: justify;
    font-size: var(--font-size-medium);
    color: var(--text-color);
    font-weight: 500;
}

.quienes-somos {
    
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

.quienes-somos h1 {
    color: rgb(48, 46, 47); /* Color de texto principal */
    font-size: var(--font-size-extra-large);
    margin-bottom: 1rem;
    line-height: 5rem;
    
}

.quienes-somos .card {
    border: none;
    box-shadow: var(--shadow-color-light); 
    transition: transform 0.3s ease;
}

.quienes-somos .card:hover {
    transform: translateY(-5px); 
}

.quienes-somos .card-title {
    color: #202326; 
    font-weight: bold;
    font-size: var(--font-size-large);
    line-height: 2rem;
    
}

.quienes-somos .lead {
    color: var(--main-color); 
    font-weight: 900;
    font-size: var(--font-size-medium);
    text-transform: uppercase;
    text-align: center;

}

.Empresa .compromiso {
    text-align: center;
}


h3{
    color: #202326;
}
