.Empresa {
    background: linear-gradient(to top, rgb(75, 129, 129), #f3f2f2);
    /* mismo color que la onda */
    margin-top: -2rem;
    padding: 0rem;
    border-radius: 10px;
}
.Empresa p, 
.Empresa .card-text {
    text-align: justify;
}

.quienes-somos {
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 10px;
}

.quienes-somos h1 {
    color: rgb(22, 21, 21); /* Color de texto principal */
    font-size: var(--font-size-medium);
    margin-bottom: 1rem;
    
}

.quienes-somos .card {
    border: none;
    box-shadow: var(--shadow-color-light); 
    transition: transform 0.3s ease;
}

.quienes-somos .card:hover {
    transform: translateY(-5px); 
}

.quienes-somos .card-title {
    color: #202326; 
    font-weight: bold;
    
}

.quienes-somos .lead {
    color: #454a4f; 
    text-align: center;
}

.Empresa .compromiso {
    text-align: center;
}

h3{
    color: #202326;
}
