@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Quicksand",
        sans-serif;
    overflow-x: hidden;
}

:root {
            /*Colores*/
            --main-color: rgb(75, 129, 129);
            --background-color: rgb(255, 255, 255);
            --background-color-light: rgb(243, 242, 242);
            --hover-color: rgb(51, 51, 51);
            --text-color: rgb(48, 46, 47);
            --text-color-green: rgb(75, 129, 129);
            --text-color-light: rgb(243, 242, 242);
            --text-color-dark: rgb(0, 0, 0);
            --border-color: rgb(51, 51, 51);
            --border-color-light: rgb(255, 255, 255);
            --border-color-dark: rgb(0, 0, 0);
            --shadow-color: rgba(0, 0, 0, 0.2);
            --shadow-color-light: rgba(255, 255, 255, 0.2);
            --shadow-color-dark: rgba(0, 0, 0, 0.2);

            /*Fuentes*/
            --font-size-small: 1rem;
            --font-size-medium: 1.2rem;
            --font-size-large: 1.5rem;
            --font-size-extra-large: 2.5rem;

}

.custom-line-height {
    line-height: 1.6;
    /* Ajusta el valor según tus necesidades */
}

#buttons_blanco{
        background-color: var(--background-color);
        color: var(--text-color);
        border: none;
        box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
}
    
#buttons_blanco:hover {
        background-color: var(--hover-color);
        color: var(--text-color-light);
        box-shadow: -10px 10px 12px rgba(0, 0, 0, 0.5);
    }

