.nav{
    display: flex;
    justify-content: center;
    color: rgb(51, 50, 50);
    font-size: 1.2rem;


}
.menu{
    display: flex;
    align-items: center;
    margin-left:10rem;
    font-size: 1.2rem;
    gap:50px
}

.menu li{
    display: inline-block;
    
    color: rgb(59, 59, 59);
    
    cursor: pointer;
}