.Contacto {
    background: linear-gradient(to bottom, rgb(75, 129, 129), rgb(48, 46, 47));
    padding: 50px 20px;
    text-align: center;
}

.contact_card{
    width: 100%;
    display:flex;
    gap:5rem
}

.Contacto-title h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.contacto-title {
    line-height: 30px;
}

h4{
    color: var(--text-color-green);
}

#buttons_blanco{
    box-shadow: none;
    background-color: var(--main-color);
    padding:0.5rem 1.5rem;
    margin-bottom: 1.2rem;

}

#buttons_blanco a{
    color:var(--text-color-light)
}
#buttons_blanco:hover{
    background-color:none;
}
.contact_options {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.contact_mail, .contact_whatsapp {
    background: var(--background-color-light);
    padding: 15px;
    border-radius: 8px;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--text-color-green);
}

.contact_mail .contact-icon {
    color: var(--text-color-green);
}

.contact_mail a, .contact_whatsapp a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--text-color-green);
    font-weight: bold;
}

.contactowhatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



/* Nueva sección de direcciones */
.contact_addresses {
    background: var(--background-color-light);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.address-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    gap: 20px;
}

.address-item {
    text-align: center;
    flex: 1;
    padding: 25px 15px;
    background: var(--background-color-light);
    border-radius: 8px;
    margin:0.2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5rem;
    overflow-y: hidden;
}

/* Asegurar que el formulario quede debajo */
.container_form {
    background: var(--background-color-light);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    
}

.title-form {
    color: var(--text-color-green);
    padding: 20px;
}

.form-control {
    margin-bottom: 15px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

button.send {
    width: 100%;
    padding: 10px;
    background: var(--main-color);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.send:hover {
    background: var(--text-color);
}



@media (max-width: 768px){
    .Contacto-title h1 {
        font-size: var(--font-title);
    }

    .contact_options {
        width: 100%;
    }

    .contact_mail, .contact_whatsapp {
        background: var(--background-color-light);
        padding: 15px;
        border-radius: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .contact_card{
        width: 100%;
        display:flex;
        gap:2rem;
        flex-direction: column;
        align-items: center;
    }

    .contactowhatsapp {
        gap:0
    }

    .contact_mail a, .contact_whatsapp a {
    
        text-decoration: none;
        color: var(--text-color-green);
        font-weight: bold;
    }

    .address-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 2rem;
        gap: 10px;
}

}