.title-clientes{
    text-align: center;
    color: var(--text-color); /* Color de texto principal */
    font-size: var(--font-size-extra-large);
    margin-bottom: 1rem;
    line-height: 5rem;
    text-transform: uppercase;
}

.subtitle-clientes{
    color: var(--text-color-green);
    font-weight: 900;
    font-size: var(--font-size-medium);
    text-transform: uppercase;
    text-align: center;
}

.carouselMobile{
    display:none
}


@media (max-width: 768px){
    
    .title-clientes{
        font-size: var(--font-title);
        font-weight: 500;
    }

    .subtitle-clientes{
        font-size: var(--font-size-medium);
        font-weight: 700;
        padding: 2px 20px;
        
    }
    .carouselMobile{
        display: block;
    }
    .carouselDesk{
        display:none;
    }
}
