
.Hero{
    background-image: url(../../assets/hero/herotranspa2.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0rem;
    text-align: center;
    overflow-x: hidden;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.Hero_container{
    padding-top: 18rem;
    padding-left:12rem;
    height: 120%;
    
}

.Hero_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.Hero_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;  
    height:20%;
    
}


.button_container {
    padding:0px 50px;
    height: 100%;
    align-items: center;
    display: flex;

}


#Servicios {
    background-color: var(--main-color);
    color:var(--text-color-light);
    border: none;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);

}

#Servicios:hover{
    background-color: var(--hover-color);
    color:var(--text-color-light);
    box-shadow: -10px 10px 12px rgba(0, 0, 0, 0.5);
}

#Contacto {
    background-color: var(--background-color);
    color:var(--text-color);
    border: none;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);

}

#Contacto:hover{
    background-color: var(--hover-color);
    color:var(--text-color-light);
    box-shadow: -10px 10px 12px rgba(0, 0, 0, 0.5);
}

.Hero_wave {
    grid-column: 1 / -1;
    width: 100%;
    position: relative;
    z-index: 1;
    
}

.Hero_wave svg {
    display: block;
    width: 100%;
    height: auto;
}






