
.Hero{
    background-image: url(../../assets/hero/herotranspa2.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0rem;
    text-align: center;
    height: 100vh;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.Hero_container{
    padding-top: 18rem;
    padding-left:12rem;
    
}

.Hero_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.Hero_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;    
}


.button_container {
    padding:0px 50px

}

#Servicios {
    background-color: var(--background-color);
    color:var(--text-color);
    border: none;

}

#Servicios:hover{
    background-color: var(--hover-color);
    color:var(--text-color-light);
}

#Contacto {
    background-color: var(--background-color);
    color:var(--text-color);
    border: none;

}

#Contacto:hover{
    background-color: var(--hover-color);
    color:var(--text-color-light);
}








