.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.2rem;
    background-color: rgb(75, 129, 129,0.5);
    z-index: 1000;


}

.header_redes ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.header_redes ul li {
    display: inline;
    padding: 0 10px;
    cursor: pointer;
    color:#ffffff
}