.header{
    display:grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    align-items: center;
    padding: 2.2rem 0.2rem;
    background-color: rgba(253, 253, 253);
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 60px;
    overflow-y: hidden;
}

.header_redes {
    display: flex;
    justify-content: flex-end;
    padding: 0rem 2rem 0rem 0rem;
    width:100%  
}
.header_redes ul {
    list-style: none;
}

.header_redes ul li {
    margin-left: 10px;
    display: inline;
    padding: 0 0px;
    cursor: pointer;
    color:#3c3b3b;
    font-size: 1.2rem;
}