.footer {
    padding: 20px;
    color: white;
    background-color: rgb(48,46,47);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.footer-logo-container{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


.footer-logo img {
    width: 80px;
    align-items: center;
}

.footer-logo p {
    font-size: 1.2rem;
    font-weight: bold;
}


.footer-secciones {
    display: flex;
    gap: 30px;
}

.footer-secciones  {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.footer-secciones p:hover {
    color: var(--main-color);
}


.footer-redes {
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
}

.footer-redes span {
    cursor: pointer;
    transition: transform 0.2s;
}

.footer-redes span:hover {
    transform: scale(1.2);
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-logo {
        flex-direction: column;
    }

    .footer-secciones {
        flex-direction: column;
        gap: 10px;
    }

    .footer-redes {
        justify-content: center;
    }
}

/* Derechos reservados */
.footer-copyright {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 10px;
}